body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../images/Banana Guardian.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1200px;
}

.character img {
  width: 380px;
  height: auto;
}

.login-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 15px;
  width: 350px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  color: #fff;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: #ccc;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ffcc33;
}
