body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../images/Banana Guardian.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
}

/* Main container (character left, login right) */
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  margin: auto;
  height: 80vh;
}

/* LEFT SIDE (empty because background already shows character) */
.left-side {
  width: 55%;
}

/* LOGIN BOX - Right aligned */
.login-box {
  background: rgba(0, 0, 0, 0.65);
  padding: 40px;
  border-radius: 15px;
  width: 360px;
  margin-left: auto;
  backdrop-filter: blur(3px);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  color: #fff;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: #ccc;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ffcc33;
}

/* FOOTER */
footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: #fff;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(4px);
}
.forgot {
  color: #fff;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.8;
}

.forgot:hover {
  opacity: 1;
  text-decoration: underline;
}
